{% extends "base.html" %}

{% block title %}password_change_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <div id="post-preview" style="text-align: center">

    <h1>{{ title }}</h1>

    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote">아래 오류를 확인하고 다시 시도해주세요. </p>
    {% endif %}

    <p>이전 비밀번호를 입력하고 새로운 비밀번호를 입력하세요.
      </p>

    <fieldset class="aligned">
            <table class="change-list" style="text-align: center; margin:0 auto;      table-layout:fixed;
    word-break:break-all;">
        <tr>
            <td>이전 비밀번호
            </td>
            <td>  {{ form.old_password }}
            </td>
        </tr>

            <tr>
                <td> 새로운 비밀번호
                </td>

                <td> {{ form.new_password1 }}
                </td>
            </tr>

            <tr>
                <td>비밀번호 확인
                </td>

                <td>{{ form.new_password2 }}
                </td>
            </tr>

        </table>
    </fieldset><br>

    <div class="submit-row">
        <input class="btn btn-warning" type="submit" value="Password Change"/>
    </div>

    <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>

            </div></div></div></div>
{% endblock %}
