{% extends "base.html" %}

{% block title %}post_change_list.html{% endblock %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <div id="post-preview" style="text-align: center">

    <h1>포스트 수정 - {{user}}</h1>
    
    <table class="change-list" style="width:120%;text-align: center; margin:0 auto;      table-layout:fixed;
    word-break:break-all;">
        <tr>
            <th>제목</th>
            <th>설명</th>
            <th>글쓴이</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>

    
        {% for item in object_list %}
        <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.owner }}</td>
            <td><a class="btn btn-warning" href="{% url 'blog:update' item.id %}">수정</a></td>
            <td><a class="btn btn-warning" href="{% url 'blog:delete' item.id %}">삭제</a></td>
        </tr>
        {% endfor %}
    </table>

            </div></div></div></div>
{% endblock %}
