{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <div id="post-preview" style="text-align: center">
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">앨범</h2>
            <h3 class="section-subheading text-muted">앨범을 구경합시다.</h3>
          </div>
        </div>
          {% for item in object_list %}
                <a class="portfolio-link" data-toggle="modal" href="#{{item.id}}">
                  <div class="portfolio-hover">

                    {% for photo in item.photo_set.all|slice:":5" %}
                        <div class="album-list-photo">
                            <img class="img-fluid" src="{{ photo.image.thumb_url }}" alt="">
                        </div>

                    {% endfor %}

                    <div class="portfolio-caption">
                        <h4>{{ item.name }}</h4>
                      <p class="text-muted">{{ item.description }}</p>
                    </div></div></a>
                </div>
          {% endfor %}


    <!-- Modal 1 -->
    {% for item in object_list %}
    <div class="portfolio-modal modal fade" id="{{item.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->

                  <h2 >{{ item.name }}</h2>
                  <p class="item-intro text-muted">{{ item.description }}</p>
                  <img class="img-fluid d-block mx-auto" src="img/portfolio/01-full.jpg" alt="">
                  <ul class="list-inline">
                    <li> 작성자: {{item.owner}}</li>
                      <li>

                  <button class="btn btn-warning" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                      닫기</button>

                      <a class="btn btn-warning" href="{% url 'photo:album_detail' item.id %}">앨범보기</a>
                      </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </section></div></div></div></div>
{% endblock %}
