{% extends "base.html" %}

{% block title %}photo_confirm_delete.html{% endblock %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">


            <div id="post-preview" style="text-align: center">

    <h1>사진 삭제</h1>

    <form action="" method="post">{% csrf_token %}
        <p> "{{ object }}"  삭제하시겠습니까?</p>
        <input class="btn btn-warning" type="submit" value="확인" />
    </form>

            </div></div></div></div>
{% endblock %}
